*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
  display: inline-block;
  
  
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  
}
body{
  height: 100%;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}